<<<<<<< HEAD
/* Show module single draggable */
/* .show_module {
=======
#root {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: center;
    text-align: center;
    margin: 10px; */
    /* background: #5e6155; */
    /* justify-content: space-between; */
}

/* Position */
.show_module {
>>>>>>> acd00250f98135679d4a1fc5125696176e692a52
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
<<<<<<< HEAD
=======
}

/* .responsive img {
    min-width: 400px;
    height: auto;
>>>>>>> acd00250f98135679d4a1fc5125696176e692a52
} */

.show_module img {
    width: 400px;
    height: 225px;
    object-fit: cover;
}
.show_module_img-txt {
<<<<<<< HEAD
    display: block;
=======
    display: block; 
>>>>>>> acd00250f98135679d4a1fc5125696176e692a52
    top: 50px;
    width: 400px;
    height: 220px;
}

<<<<<<< HEAD
/* Show module single dragged */
=======
/* Position Dragged */
>>>>>>> acd00250f98135679d4a1fc5125696176e692a52
.show_module_second {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 1px;
    padding-right: 4px;
    padding-left: 4px;
<<<<<<< HEAD
    /* display: flex;
=======
    display: flex;
>>>>>>> acd00250f98135679d4a1fc5125696176e692a52
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
    width: 304px;
    height: 196px;
<<<<<<< HEAD
    /* background-color: rgba(0, 0, 0, 0.6) !important; */
=======
    background-color: rgba(0, 0, 0, 0.6) !important;
>>>>>>> acd00250f98135679d4a1fc5125696176e692a52
}
.show_module_second img {
    width: 296px;
    height: 146px;
    object-fit: cover;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
}
.show_module_img-txt_second {
    position: relative;
    padding-right: 4px;
    margin-top: 4px;
    margin-left: 4px;
    font-size: 13px;

    display: block;
    bottom: 1px;
    width: 300px;
    height: 150px;
}
element.style {
<<<<<<< HEAD
=======
  
>>>>>>> acd00250f98135679d4a1fc5125696176e692a52
}

.show_module_description {
}

.not_visible {
    display: none;
}

.center_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gg {
    background-color: rgba(255, 255, 255, 0.2);
}

<<<<<<< HEAD
#pfolio2 {
    text-align: center;
    margin: auto;
    max-width: 1200px;
}


.portfolio-item {
    width: 400px;
    height: 220px;
    /* display: none; */
}

h6.subheading {
    font-size: 16px;
    font-weight: 300;
}

a.open-btn {
    background-color: rgba(92, 92, 92, 0.7) !important;
    font-size: 15px;
    font-weight: 300;
    height: 40px;
    padding-top: 22px;
    position: absolute;
    right: 0;
    top: -40px;
    transition: all 0.5s;
    width: 40px;
}

.video-react-button {
    position: absolute;
    top: 76%;
    left: 74%;
}

@keyframes modal-video {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes modal-video-inner {
    from {
        transform: translate(0, 100px);
    }
    to {
        transform: translate(0, 0);
    }
}
.modal-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
    cursor: pointer;
    opacity: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: modal-video;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.modal-video-effect-exit {
    opacity: 0;
}
.modal-video-effect-exit .modal-video-movie-wrap {
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);
}

.modal-video-body {
    max-width: 940px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: table;
}

.modal-video-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.modal-video-movie-wrap {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    background-color: #333;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: modal-video-inner;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal-video-movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-video-close-btn {
    position: absolute;
    z-index: 2;
    top: -35px;
    right: -35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: none;
    background: transparent;
}
.modal-video-close-btn:before {
    transform: rotate(45deg);
}
.modal-video-close-btn:after {
    transform: rotate(-45deg);
}
.modal-video-close-btn:before,
.modal-video-close-btn:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    border-radius: 5px;
    margin-top: -6px;
}
=======
#pfolio {
    clear: both;
    display: flex;
    flex-direction: row;
    width: 1600px;
    margin: auto;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #pfolio {
    width: 600px;
    margin: auto;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #pfolio {
    width: 400px;
    margin: auto;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #pfolio {
    width: 800px;
    margin: auto;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #pfolio {
    width: 800px;
    margin: auto;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #pfolio {
    width: 1200px;
    margin: auto;
}
}

@media only screen and (min-width: 1600px) {
    #pfolio {
      width: 1600px;
      margin: auto;
  }
  }

.portfolio-item {
   
    width: 400px;
    height: 200px;
    /* display: none; */
  
}

h6.subheading {
    font-size: 16px;
    font-weight: 300;
}

a.open-btn {
    background-color: rgba(92, 92, 92, 0.7) !important;
    font-size: 15px;
    font-weight: 300;
    height: 40px;
    padding-top: 22px;
    position: absolute;
    right: 0;
    top: -40px;
    transition: all 0.5s;
    width: 40px;
}

.video-react-button {
    position: absolute;
    top: 76%;
    left: 74%;
    
   
}

@keyframes modal-video{
    from{opacity:0}to{opacity:1}}
    @keyframes modal-video-inner
    {from{transform:translate(0, 100px)}
    to{transform:translate(0, 0)}}
    .modal-video{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);
        z-index:1000000;
        cursor:pointer;
        opacity:1;
        animation-timing-function:ease-out;
        animation-duration:.3s;
        animation-name:modal-video;
        -webkit-transition:opacity .3s ease-out;
        -moz-transition:opacity .3s ease-out;
        -ms-transition:opacity .3s ease-out;
        -o-transition:opacity .3s ease-out;
        transition:opacity .3s ease-out}
        .modal-video-effect-exit{opacity:0}
        .modal-video-effect-exit 
        .modal-video-movie-wrap{-webkit-transform:translate(0, 100px);
            -moz-transform:translate(0, 100px);
            -ms-transform:translate(0, 100px);
            -o-transform:translate(0, 100px);
            transform:translate(0, 100px)}
            
        .modal-video-body{max-width:940px;width:100%;height:100%;margin:0 auto;display:table}

        .modal-video-inner{display:table-cell;vertical-align:middle;width:100%;height:100%}

        .modal-video-movie-wrap{width:100%;height:0;position:relative;padding-bottom:56.25%;background-color:#333;
            animation-timing-function:ease-out;animation-duration:.3s;animation-name:modal-video-inner;-webkit-transform:translate(0, 0);-moz-transform:translate(0, 0);-ms-transform:translate(0, 0);-o-transform:translate(0, 0);transform:translate(0, 0);-webkit-transition:-webkit-transform .3s ease-out;-moz-transition:-moz-transform .3s ease-out;-ms-transition:-ms-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out}.modal-video-movie-wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%}.modal-video-close-btn{position:absolute;z-index:2;top:-35px;right:-35px;display:inline-block;width:35px;height:35px;overflow:hidden;border:none;background:transparent}.modal-video-close-btn:before{transform:rotate(45deg)}.modal-video-close-btn:after{transform:rotate(-45deg)}.modal-video-close-btn:before,.modal-video-close-btn:after{content:'';position:absolute;height:2px;width:100%;top:50%;left:0;margin-top:-1px;background:#fff;border-radius:5px;margin-top:-6px}
>>>>>>> acd00250f98135679d4a1fc5125696176e692a52
