
 #root {
    
    /* display: flex; */
    /* flex-direction: column;
    flex-wrap: wrap;  */
    /* justify-content: center; */
    text-align: center;
    margin: 10px;
    /* background: #5e6155; */
    /* justify-content: space-between; */
    }

/* TopPosition */
.show_module {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 
}

.responsive {
    min-width: 400px;
    height: auto;
  }

.show_module img {
    width: 400px;
    height: 200px;
    object-fit: cover;
}
.show_module_img-txt {
   display: block;
    top: 50px;
    width: 400px;
    height: 220px; 
  
}

/* DownPosition */
.show_module_second {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 304px;
    height: 180px; 
 

}
.show_module_second img {
    width: 300px;
    height: 150px;
    object-fit: cover;
}
.show_module_img-txt_second {
    margin: 5px;
   display: block;
    bottom: 10px;
    width: 300px;
    height: 150px; 
}
element.style {
    background-color:#272727 ;
}



.show_module_description{


}

.not_visible{
   /* display:none; */
}

.center_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}




  .gg {
      background-color: rgba(255, 255, 255, 0.2);
    }

    
    #pfolio {
        clear: both;
        display: flex;
        flex-direction: row;
        
       
        
        


       
        
     
      }
      .portfolio-item{
       
        display: flex;
        flex-direction: row;
        
      }

      h6.subheading {
        
        font-size: 16px;
        font-weight: 300;
        
      }
      a.open-btn {
        
        font-size: 15px;
        font-weight: 300;
        height: 40px;
        padding-top: 22px;
        position: absolute;
        right: 0;
        top: -40px;
        transition: all .5s;
        width: 40px;
      }

      .element.style{

      }
